.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

.ant-layout-sider-children .nav-text {
  color: white !important;
}

form .ant-btn {
  margin-right: 8px;
}
.site-layout-main {
  height: 100%;
}
.router-class {
  height: 100%;
}
#react-target {
  height: 100%;
}
